.container{
    width: 30%;
    height: 250px;
    background:yellow;
    border: 5px solid black;
    margin-left:500px;


}
h2{
    text-align: center;
}
.GrpCtn{
    margin-left:80px;
}
.GrpBtn{
    margin-left:25px;
}
.GrpBtn1{
    margin-left:120px;
}
.GrpBtn2{
    margin-left:60px;
}